@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@700;800&display=swap');
@import "tailwindcss";
:root {
  --bg-primary-color : #000022;
  --bg-secondary-color : #001242;
  --accent-color : #0094C6;
  --sub-accent-color : #005E7C;
  --primary-text-color : #fff;
  --secondary-text-color : #040F16;
}
.font-heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}