@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@700;800&display=swap');
@import "tailwindcss";
@theme {
  /* This tells Tailwind to use the .dark class for dark mode */
  --variant-dark: .dark &;

  --color-brand: #3b82f6;
  
}

.font-heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}